html {
  scroll-behavior: smooth;
}




/* navbar */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav a {
  font-family: "Lekton", sans-serif;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

nav a:last-child {
  margin-right: 0;
}



/* body */

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}



/* main hero */

.hero {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-family: "Cousine", monospace;
  font-size: 48px;
  margin: 0;
}

.hero p {
  font-family: "Lekton", sans-serif;
  font-size: 24px;
  margin: 20px 0;
}

.streaming-card h2 {
  font-family: "Lekton", sans-serif;
  font-size: 24px;
  margin: 4rem;
  text-align: center;
}

.streaming-links {
  list-style: none;
  margin: 0;
  padding: 2rem 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.streaming-links li {
  margin: 10px;
  display: flex;
}

.streaming-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}



/* adjusting for screen size */

@media screen and (max-width: 767px) {
  .streaming-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
  }
}
