:root {
  --typewriterCharacters: 14;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* navbar */

header {
  background-image: url(/assets/images/pictures/IMG_4521.JPG);
  background-size: cover;
  background-position: center;
  background-color: #333;
  color: #fff;
  padding: 50px;
  text-shadow: 2px 5px 1px rgb(0, 0, 0);
}

nav {
  position: fixed;
}

nav a {
  display: inline-block;
  font-family: "Special Elite", cursive;
  color: #fff;
  text-decoration: none;
  padding-bottom: 1rem;
  margin: 1rem;
  top: 0;
}

/* body */

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

/* main hero/title section */

.hero {
  background-image: url(/assets/images/pictures/IMG_4509.JPG);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 50rem;
  padding: 20px;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px 4px rgb(0, 0, 0);
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 35px;
  color: whitesmoke;
  position: relative;
  margin: 0;
  width: max-content;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.typewrite {
  text-decoration: none;
  color: whitesmoke;
}

.hero p {
  font-family: "Special Elite", cursive;
  font-size: 24px;
  margin: 20px 0;
  opacity: 0;
  transform: translateY(4rem);
  animation: fadeInUp 3s ease 1s forwards;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
/* about section */

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.about-section {
  background-image: url(/assets/images/pictures/IMG_0043.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 4rem 0;
  color: whitesmoke;
}

.about-card {
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-size: 13px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.about-card h2 {
  font-family: "Special Elite", cursive;
  font-size: 24px;
  margin: 4rem;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* music section */

.music-section {
  background-image: url(/assets/images/pictures/IMG_0379.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 6rem;
}

.music-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
}

.music-icon {
  display: flex;
  width: 90px;
  height: 90px;
  margin-bottom: 4rem;
  box-shadow: 0 0 10px 4px rgb(0, 0, 0);
  border-radius: 2rem;
}

.music-card h2 {
  font-family: "Special Elite", cursive;
  font-size: 24px;
  color: whitesmoke;
  margin: 4rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* contact us section */

.contact-section {
  background-image: url(/assets/images/pictures/IMG_9963.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-card {
  color: whitesmoke;
  border-radius: 4px;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.contact-card h2 {
  font-family: "Special Elite", cursive;
  font-size: 24px;
  margin: 4rem;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* adjusting for screen size */

/* @media screen and (max-width: 767px) {
  .music-card .about-section {
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    padding: 20px;
    text-align: center;
  }
} */
